:root {
  --heading-font-family: 'Fraunces', 'Times New Roman', serif;
  --body-font-family: 'Manrope', 'Arial', sans-serif;

  --dark-purple: #24053E;
  --eucaplytus: #44FFA1;
  --davys-grey: #584D62;
  --ghost-white: #FCF8FF;
}

body {
  box-sizing: border-box;
  font-family: var(--body-font-family);
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 30px;
  background-color: #fff;
  color: var(--dark-purple);
}

/* CONTAINER */

.container {
  width: 100%;
  max-width: 1146px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}



img {
  max-width: 100%;
  height: auto;
}