/* GLOBAL */
:root {
  --heading-font-family: 'Fraunces', 'Times New Roman', serif;
  --body-font-family: 'Manrope', 'Arial', sans-serif;

  --dark-purple: #24053E;
  --eucaplytus: #44FFA1;
  --davys-grey: #584D62;
  --ghost-white: #FCF8FF;
}

body {
  box-sizing: border-box;
  font-family: var(--body-font-family);
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 30px;
  background-color: #fff;
  color: var(--dark-purple);
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  display: inline-block;
  font-size: 17px;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 8px 35px;
  letter-spacing: -0.18px;
  line-height: 32px;
  text-align: center;
  white-space: inherit;
  text-decoration: none;
  background-color: var(--eucaplytus);
  color: var(--dark-purple);
  transition: 0.3s ease;
}

.button:hover {
  background-color: transparent;
  color: var(--eucaplytus);
  border: 2px solid var(--eucaplytus);
}

.button:active {
  opacity: 0.6;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */

.container {
  /* width: 100%; */
  max-width: 1194px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto;
}

/* SITE-HEADER-HERO-WRAPPER */

.site-header-hero-wrapper {
  background-color: var(--dark-purple);
  padding-top: 56px;
}

.site-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 55px;
}

/* UNDERLINE-LINK */

.underline-link {
  display: inline-block;
  text-decoration: none;
  border-bottom: 3px solid var(--eucaplytus);
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  line-height: 32px;
  letter-spacing: -0.18px;
  transition: 0.3s ease;
}

.underline-link:hover {
  color: var(--eucaplytus);
}

.underline-link:active {
  opacity: 0.7;
}

/* LOGO */

.logo {
  display: block;
  text-decoration: none;
  transition: 0.3s ease;
}

.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.6;
}

.logo-img {
  width: 97px;
  height: 26px;
  display: block;
}

/* UNDERLINE-TEXT */

.underline-text {
  display: inline-block;
  border-bottom: 3px solid var(--eucaplytus);
}


/* HERO */

.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-heading {
  max-width: 590px;
  margin-top: 0;
  font-family: var(--heading-font-family);
  font-size: 65px;
  line-height: 1.2;
  font-weight: 600;
  color: #fff;
  text-align: center;
}

.hero__img {
  display: block;
}

.hero__button {
  margin-bottom: 50px;
}

/* #-- FEATURES --# */


.features {
  padding-top: 255px;
  padding-bottom: 170px;
  background-color: var(--ghost-white);
}

.features__list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
  counter-reset: features-list;
}

.features__item {
  counter-increment: features-list;
  width: 385px;
  word-spacing: 1px;
}

/* FEATURE */

.feature {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.feature::before {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  width: 56px;
  height: 56px;
  border: 1px solid var(--davys-grey);
  margin-bottom: 56px;
  font-size: 24px;
  line-height: 40px;
  font-family: var(--heading-font-family);
  border-radius: 50%;
  text-align: center;
  content: counter(features-list);
}

.feature__title {
  margin-top: 0;
  margin-bottom: 28px;
  font-family: var(--heading-font-family);
  font-size: 24px;
  line-height: 40px;
}

.feature__description {
  margin: 0;
}


@media only screen and (max-width: 1024px) {
  .features {
    padding-top: 200px;
    padding-bottom: 160px;
  }

  
  .features__list {
    flex-direction: column;
    max-width: 575px;
    margin-left: auto;
    margin-right: auto;
  }

  .feature {
    flex-direction: row;
    align-items: center;
  }

  .features__item {
    width: 100%;
  }

  .feature::before {
    width: 48px;
    height: 48px;
    margin-bottom: 0;
    margin-right: 42px;
  }

  .features__item:not(:last-child) {
    margin-bottom: 48px;
  }

  .feature__inner {
    text-align: left;
  }

  .feature__title {
    margin-bottom: 16px;
    font-size: 28px;
    line-height: 36px;
  }
  .feature__description {
    font-size: 16px;
    line-height: 28px;
  }
}

@media only screen and (max-width: 768px) {

  /* SITE-HEADER-HERO-WRAPPER */

  .site-header-hero-wrapper {
    padding-top: 36px;
  }

  .site-header__container {
    margin-bottom: 60px;
  }

  .hero-heading {
    max-width: 550px;
    font-size: 60px;
    margin-bottom: 40px;
    line-height: 1.1;
    font-weight: 500;
  }
}


@media only screen and (max-width: 500px) {
  /* SITE-HEADER-HERO-WRAPPER */

  .container {
    padding-left: 16px;
    padding-right: 16px;
    transform: scale(0.9);
  }

  .site-header__container {
    margin-bottom: 64px;
  }

  .hero-heading {
    max-width: 350px;
    font-size: 50px;
  }

  .hero__button {
    margin-bottom: 60px;
  }

  .features {
    padding-top: 145px;
    padding-bottom: 70px;
  }

  .features__item:not(:last-child) {
    margin-bottom: 40px;
  }
  .feature {
    flex-direction: column;
  }
  .feature__inner {
    text-align: center;
  }

  .feature::before {
    margin-right: 0;
    margin-bottom: 24px;
  }

}